
<div class="face-snap-card" [ngClass]="{snapped: userHasSnapped}">
  <h1>{{myLargeNumber | number: '1.0-0'}}</h1>
  <h1>{{myLargePourcentageNumber | percent: '1.6-6'}}</h1>
  <h1>{{myPrice | currency : 'EUR' :'code'}}</h1>
  <h2>{{faceSnap.title | titlecase}}</h2>
  <a routerLink="/facesnaps">BACK</a>
  @if (faceSnap.location) {
    <p>Localisation : {{faceSnap.location}}</p>
  } @else {
    <p>Location non spécifier </p>
  }
  <img [src] ="faceSnap.imageUrl" alt="un ecureil sur un arbre en hiver recouvert de neige">
  <p>{{faceSnap.description}}</p>
  <p>FaceSnap créer le {{faceSnap.createdAt | date: 'dd MMMM YYYY à HH:mm' }}</p>
  <p>
    <button (click)="onSnap()" > {{ snapButtonText }}</button>
    <span [ngStyle]="{color: 'rgb(0,'+faceSnap.snaps+',0)'}"> ❤ {{faceSnap.snaps}}</span>
    </p>
</div>

